<h1>Bonjour <%= tok_email %></h1>
<p>
Ci-après le lien qui va vous permettre d'associer un nouveau mot de passe à votre compte
</p>
<p>
<a href="https://pbillerot.freeboxos.fr/token/<%= tok_id %>">Lien</a>
</p>
<p>
Cordialement.
</p>